/* Auto-hide toolbar - aka the navbar*//*
:root:not([customizing]) #nav-bar
{
  overflow-y: hidden;
  min-height:0 !important;
  margin-top: -32px !important;
  opacity: 0;
}
:root:not([customizing]) :hover > #nav-bar,
:root:not([customizing]) #nav-bar:focus-within {
  max-height: 32px !important;;
  opacity: 1;
    margin-top: 0px !important;
  transition: opacity 0s ease-in, max-height 0.1s linear;
}
/* End of Auto-hide toolbar */




