



/* Pseudo Separators *//*
#bottom-toolbar toolbarspring {
  background: transparent !important;
  max-width: 0px !important;
  min-width: 0px !important;
  width: 0px !important;
  border-left: 1px solid #2fd281 !important;
  border-right: 1px solid #2fd281 !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}
*/


