/*************************************************************/
/*****  ******      Tab Mods            *******     **********/
#TabsToolbar .close-icon {display: none !important;}

.tab-line {display: none !important;}
.tab-close-button, .tab-loading-burst, .tab-label {display: none !important;}
.tabbrowser-tab::after, .tabbrowser-tab::before {display: none !important;}
.tab-label-container {display: none !important;}
.tabbrowser-tab[fadein] {
    max-width: 36px !important;
    min-width: 36px !important;
}
.tab-icon-image {margin-inline-end: 0px !important;
margin-top: 9.5px !important;
transform: scale(1.1)}
.tab-content {padding: -9px !important;}

.tab-icon-image {filter: grayscale(100%) !important;}
.tabbrowser-tab[selected] .tab-icon-image {filter: none !important;}
.tabbrowser-tab [selected] {background: none !important;}
/*DISABLE WHITE FLASH OF DEATH*/
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content]>html {
    background: var(--in-content-page-background) !important
}





